
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1493613240721'); /* IE9*/
  src: url('iconfont.eot?t=1493613240721#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1493613240721') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1493613240721') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1493613240721#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:17px;
  padding: 3px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 1px solid #AEAEAE;
  border-radius: 3px;
  cursor: pointer;
}
.iconfont-back{background: radial-gradient(#FFF,#EAEAEA);cursor: pointer;}
.iconfont-back:hover{border:1px solid red;}
.iconfont-back-selected{background: radial-gradient(#CCC,#AAA);cursor: default;}
.iconfont-back-drop{background: radial-gradient(#AAA,#AAA);cursor: default;}
canvas{cursor: crosshair;}
